<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Django Girls</title>
</head>

<body>
    <div>
        <h1><a href="http://">Blog Django Girls</a></h1>
    </div>

    <div>
        <p>Publicado: 21.03.2020, 15:32</p>
        <h2><a href="http://">Primeiro Post</a> </h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsam amet a veniam fuga! Voluptatem quidem asperiores iste dolores sint fugit esse qui veritatis aspernatur. Labore voluptas amet maxime repellat.</p>
    </div>

    <div>
        <p>Publicado: 21.03.2020, 15:33</p>
        <h2><a href="http://">Segundo Post</a> </h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium suscipit quod ad esse fugiat facilis ducimus, iure, nulla ipsam dolore itaque mollitia autem saepe sunt possimus quidem dolor iusto delectus?</p>
    </div>


</body>

</html>